.center {
    text-align:center;
}
body{
    color:white;
    background-color:navajowhite;
    background-image:url("images/back.png") ;
    padding-bottom:1000px
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
    text-align: center;
      table-layout: fixed;
      width: 25%;
      margin-left: auto; 
      margin-right: auto;
      border: 1px solid rgb(122, 0, 16);
    }
p,h1,ul,li,table{
    animation-duration: 5s;
    animation-name: slidein;
    }
    
    @keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
    }
th, td {
    padding: 10px;
    border: 1px solid rgb(122, 0, 16);
    }
hr{
    width:50%
}
li{
   font-size:large; 
}
img {
    border: 1px solid rgb(90, 86, 86);
    border-radius: 4px;
    padding: 5px;
    width:200px;
  }